src/test/resources/005.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entry" type="listitem" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="listitem">
        <xs:all>
            <xs:element name="message" type="xs:string" />
            <xs:element name="count" type="xs:integer" />
        </xs:all>
    </xs:complexType>
</xs:schema>