src/test/resources/024.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="connectSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="optString1" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="string1"    type="xs:string" />
                <xs:element name="optString2" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="string2"    type="xs:string" />
                <xs:element name="optString3" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>