src/test/resources/027.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="connectSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mystring" type="xs:string" />
                <xs:element name="onechar" type="xs:string" />
                <xs:element name="mybytes" type="xs:base64Binary" />
                <xs:element name="onebyte" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>