src/test/resources/055.xsd

<?xml version = "1.0"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType> 
            <xs:sequence>
                <xs:element type="xs:integer" name="ProductID"/>
                <xs:element type="xs:string" name="ProductName"/>
                <xs:element name="Price">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:fractionDigits value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType> 
    </xs:element>    
</xs:schema>