src/test/resources/058.xsd

<?xml version = "1.0"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:integer" name="ProductID"/>
                <xs:element type="xs:string" name="ProductName"/>
                <xs:element type="xs:time" name="PurchaseTimeStamp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>